[Unit]
Description=FileTheseBirds/munin
Wants=network.target

[Service]
EnvironmentFile=-/etc/sysconfig/swim-munin
ExecStart=/opt/swim-munin/bin/swim-munin
SuccessExitStatus=143
User=swim-munin
Restart=on-failure
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
